.jobs-filter-container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;

        .jobs-filter,
        .jobs-selection {
            display: flex;
            flex-direction: row;
            gap: 20px;
            min-height: 40px;
        }

        .jobs-selection{
            padding: 20px 0px;
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
        }
}
