.header {
    display:flex;
    flex-direction: column;
    gap: 32px;
    padding:45px 40px;

    &__user {
        align-self: flex-end;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span {
            padding-left: 10px;
        }
        button {
            background-color: #F4F5F9;
            padding-top: 5px;
        }
    }

    &__mainpart {
        display: flex;
        flex-flow: row no-wrap;
        justify-content: space-between;
        &__title {
            font-family: Work Sans;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
        }
        &__print {
            padding: 8px 16px;
            background-color: #7650E0;
            color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 13px rgba(67, 67, 67, 0.2);
        }
    }
}