.job-criterion {
    padding: 8px 16px;
    background-color: white;
    border: solid 1px #7650E0;
    border-radius: 20px;
    display: flex;
    gap: 10px;

    .clear-button {
        width: 21px;
        height: 21px;
        background: #7650E0;
        border-radius: 10px;
    }
}
